* {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  background: black;
  height: 600px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 390px;
  margin-bottom: 50px;
}

section div {
  display: flex;
  margin-bottom: 20px;
  width: 380px;
}
section div p {
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  background: #333333;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 550;
  cursor: pointer;
}
section div span {
  display: flex;
  text-align: center;
  justify-content: center;
}

img {
  width: 40px;
  height: 40px;
}

.dividir {
  filter: invert(100%);
}

.r1 {
  background-color: black;
}
.laranja {
  background: #fea00a;
}

.laranja:hover {
  background: #fea00ac0;
}

.cinza {
  background: #a5a5a5;
  color: black;
}

.cinza:hover {
  background: #a5a5a5bb;
}

.zero {
  justify-content: start;
  flex: 2;
  background: #333333;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  padding-left: 25px;
}

.ultimo {
  width: 380px;
}

.ultimo p {
  height: 80px;
}

.header {
  width: 390px;
  display: flex;

  justify-content: center;
}

.header input {
  font-size: 80px;
  border: none;
  color: white !important;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 10px;
  margin-top: 148px;
  width: 360px;
  cursor: text;
  text-align: end;
  padding-right: 17px;
  opacity: 1 !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  color: white !important;
  opacity: 1 !important;
}

p:hover {
  background: #333333b4;
}
