* {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  background: black;
  height: 750px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  border: 2px solid red;
}

section div {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
}
section div p {
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
}
section div i {
  display: flex;
  text-align: center;
  justify-content: center;
}

p {
  background: #333333;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 550;
}

img {
  width: 20px;
  height: 20px;
}

.dividir {
  filter: invert(100%);
}

.r1 {
  background-color: black;
}

#laranja {
  background: #fea00a;
}
.zero {
  flex: 2;
  background: #333333;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.zero1 {
  padding-right: 145px;
  justify-content: center;
  background: #333333;
}
.ultimo {
  width: 100%;
}

.ultimo p {
  height: 100px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: end;
}

.header p {
  font-size: 50px;
  margin-right: 45px;
}
